/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.main-app{
    height:90vh;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
