################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/X_API_Master/.vs/X_API_Master/v15/Server/sqlite3
/X_API_Master/X.UI.Consoles/bin
/X_API_Master/X.UI.Consoles/obj
/X_API_Master/.vs
/X_API_Master/X.Cache.Service/bin/Debug
/X_API_Master/X.Cache.Service/obj/Debug
/X_API_Master/X.CodedUITest/bin/Debug
/X_API_Master/X.CodedUITest/obj/Debug
/X_API_Master/X.Data.Core.CoreReader/bin/Debug
/X_API_Master/X.Data.Core.CoreReader/obj/Debug
/X_API_Master/X.Data.Core.ExtendReader/bin/Debug
/X_API_Master/X.Business.Core/obj
/X_API_Master/X.Business.Core/bin
/X_API_Master/X.Business.Entities/obj
/X_API_Master/X.Business.Entities/bin
/X_API_Master/packages/Microsoft.PinYinConverter.1.0.0
/X_API_Master/X.Business.Extend/bin/Debug
/X_API_Master/X.Business.Helper/bin/Debug
/X_API_Master/X.Business.Extend/obj/Debug
/X_API_Master/X.Business.Helper/obj/Debug
/X_API_Master/X.Business.Other/bin/Debug
/X_API_Master/X.Business.Pay/obj/Debug
/X_API_Master/X.Business.Pay/bin/Debug
/X_API_Master/X.Business.Other/obj/Debug
/X_API_Master/X.DataBase.Entities/obj/Debug
/X_API_Master/X.DataBase.Entities/bin/Debug
/X_API_Master/X.DataBase.Core/obj/Debug
/X_API_Master/X.DataBase.Core/bin/Debug
/X_API_Master/X.Data.Extend.Monitor/obj/Debug
/X_API_Master/X.Data.Extend.Monitor/bin/Debug
/X_API_Master/X.Data.Entend.Entities/obj/Debug
/X_API_Master/X.Data.Entend.Entities/bin/Debug
/X_API_Master/X.Data.Core.ExtendReader/obj/Debug
/X_API_Master/X.Interface.Dto/Interface/IStockManager.cs
/X_API_Master/X.Interface.Dto/bin/Debug
/X_API_Master/X.Interface.Core/obj/Debug
/X_API_Master/X.Interface.Core/bin/Debug
/X_API_Master/X.DataBase.Helper/obj/Debug
/X_API_Master/X.DataBase.Helper/bin/Debug
/X_API_Master/X.IO/obj/Debug
/X_API_Master/X.IO/bin/Debug
/X_API_Master/X.Interface.Other/obj/Debug
/X_API_Master/X.Interface.Other/bin/Debug
/X_API_Master/X.Interface.Extend/obj/Debug
/X_API_Master/X.Interface.Extend/bin/Debug
/X_API_Master/X.Interface.Dto/obj/Debug
/X_API_Master/X.UI.Entities/obj/Debug
/X_API_Master/X.UI.Entities/bin/Debug
/X_API_Master/X.UI.Web/obj/Debug
/X_API_Master/X.UI.Web/node_modules
/X_API_Master/X.UI.Web/bin
/X_API_Master/X.UI.Consoles/src
/X_API_Master/X.UI.Helper/obj/Debug
/X_API_Master/X.UI.Helper/bin/Debug
/X_API_Master/X.UnitTest/obj/Debug
/X_API_Master/X.UnitTest/bin/Debug
/X_API_Master/X.Util.Provider/obj/Debug
/X_API_Master/X.Util.Provider/bin/Debug
/X_API_Master/X.Util.Other/obj/Debug
/X_API_Master/X.Util.Other/bin/Debug
/X_API_Master/X.Util.Extend/obj/Debug
/X_API_Master/X.Util.Extend/bin/Debug
/X_API_Master/X.Util.Entities/obj/Debug
/X_API_Master/X.Util.Entities/bin/Debug
/X_API_Master/X.Util.Core/obj/Debug
/X_API_Master/X.Util.Core/bin/Debug
/X_API_Master/X.Win.TaskService/obj/Debug
/X_API_Master/X.Win.TaskService/bin/Debug
/X_API_Master/X.WFConfig/obj/Debug
/X_API_Master/X.WFConfig/bin/Debug
/X_API_Master/X.WebAndLoadTest/obj/Debug
/X_API_Master/X.WebAndLoadTest/bin/Debug
/X_API_NetCore_Master/X.Business.Core/obj
/X_API_NetCore_Master/X.Business.Core/bin
/X_API_NetCore_Master/X.Business.Model/obj
/X_API_NetCore_Master/X.Business.Model/bin
/X_API_NetCore_Master/X.Business.Util/obj
/X_API_NetCore_Master/X.Business.Util/bin
/X_API_NetCore_Master/X.DB.Core/obj
/X_API_NetCore_Master/X.DB.Core/bin
/X_API_NetCore_Master/X.DB.Entitis/obj
/X_API_NetCore_Master/X.DB.Entitis/bin
/X_API_NetCore_Master/X.DB.Util/obj
/X_API_NetCore_Master/X.DB.Util/bin
/X_API_NetCore_Master/X.Interface.Core/obj
/X_API_NetCore_Master/X.Interface.Core/bin
/X_API_NetCore_Master/X.Interface.Dto/obj
/X_API_NetCore_Master/X.Interface.Dto/bin
/X_API_NetCore_Master/X.UI.Consoles/bin
/X_API_NetCore_Master/X.UI.Consoles/obj
/X_API_NetCore_Master/X.UI.Util/obj
/X_API_NetCore_Master/X.UI.Util/bin
/X_API_NetCore_Master/X.UI.Web/obj
/X_API_NetCore_Master/X.UI.Web/bin
/X_API_NetCore_Master/X.Util.Core/obj
/X_API_NetCore_Master/X.Util.Core/bin
/X_API_NetCore_Master/X.Util.Entities/obj
/X_API_NetCore_Master/X.Util.Entities/bin
/X_API_NetCore_Master/X.Util.Extend/obj
/X_API_NetCore_Master/X.Util.Extend/bin
/X_API_NetCore_Master/X.UI.WebAPI/obj
/X_API_NetCore_Master/X.UI.WebAPI/bin
/X_API_NetCore_Master/X.Util.Other/obj
/X_API_NetCore_Master/X.Util.Other/bin
/X_API_NetCore_Master/X.Util.Provider/obj
/X_API_NetCore_Master/X.Util.Provider/bin
/X_API_NetCore_Master/.vs/X_API_NetCore_Master
/X_API_Master/X.UI.Web/X.UI.Web.csproj.user
/X_API_NetCore_Master/X.Test.UITest/obj
/X_API_NetCore_Master/X.Test.UITest/bin
/X_API_NetCore_Master/X.Test.EdgeDriverTest/obj
/X_API_NetCore_Master/X.Test.EdgeDriverTest/bin
/X_API_NetCore_Master/X.UI.BlazorWebAssembly/obj
/X_API_NetCore_Master/X.UI.BlazorWebAssembly/bin
/X_Front_Master/x.front.nodeconsole/obj
/X_Front_Master/x.front.nodeconsole/bin
/X_Front_Master/x.front.NodeExpress/obj
/X_Front_Master/x.front.NodeExpress/bin
/X_Front_Master/x.front.NodeExpress/node_modules
/X_Front_Master/x.front.typeconsole/obj
/X_Front_Master/x.front.typeconsole/bin
/X_Front_Master/x.front.typeconsole/node_modules
/X_Front_Master/x.front.type-express/obj
/X_Front_Master/x.front.type-express/bin
/X_Front_Master/x.front.type-express/node_modules
/X_API_NetCore_Master/X.Test.UnitTest/obj
/X_API_NetCore_Master/X.Test.UnitTest/bin
