################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/X_API_Master/.vs/X_API_Master/v15/Server/sqlite3
/X_API_Master/X.UI.Consoles/bin
/X_API_Master/X.UI.Consoles/obj
/X_API_Master/.vs
/X_API_Master/X.Cache.Service/bin/Debug
/X_API_Master/X.Cache.Service/obj/Debug
/X_API_Master/X.CodedUITest/bin/Debug
/X_API_Master/X.CodedUITest/obj/Debug
/X_API_Master/X.Data.Core.CoreReader/bin/Debug
/X_API_Master/X.Data.Core.CoreReader/obj/Debug
/X_API_Master/X.Data.Core.ExtendReader/bin/Debug
/X_API_Master/X.Business.Core/obj
/X_API_Master/X.Business.Core/bin
/X_API_Master/X.Business.Entities/obj
/X_API_Master/X.Business.Entities/bin
/X_API_Master/packages/Microsoft.PinYinConverter.1.0.0
/X_API_Master/X.Business.Extend/bin/Debug
/X_API_Master/X.Business.Helper/bin/Debug
/X_API_Master/X.Business.Extend/obj/Debug
/X_API_Master/X.Business.Helper/obj/Debug
/X_API_Master/X.Business.Other/bin/Debug
/X_API_Master/X.Business.Pay/obj/Debug
/X_API_Master/X.Business.Pay/bin/Debug
/X_API_Master/X.Business.Other/obj/Debug
/X_API_Master/X.DataBase.Entities/obj/Debug
/X_API_Master/X.DataBase.Entities/bin/Debug
/X_API_Master/X.DataBase.Core/obj/Debug
/X_API_Master/X.DataBase.Core/bin/Debug
/X_API_Master/X.Data.Extend.Monitor/obj/Debug
/X_API_Master/X.Data.Extend.Monitor/bin/Debug
/X_API_Master/X.Data.Entend.Entities/obj/Debug
/X_API_Master/X.Data.Entend.Entities/bin/Debug
/X_API_Master/X.Data.Core.ExtendReader/obj/Debug
/X_API_Master/X.Interface.Dto/Interface/IStockManager.cs
/X_API_Master/X.Interface.Dto/bin/Debug
/X_API_Master/X.Interface.Core/obj/Debug
/X_API_Master/X.Interface.Core/bin/Debug
/X_API_Master/X.DataBase.Helper/obj/Debug
/X_API_Master/X.DataBase.Helper/bin/Debug
/X_API_Master/X.IO/obj/Debug
/X_API_Master/X.IO/bin/Debug
/X_API_Master/X.Interface.Other/obj/Debug
/X_API_Master/X.Interface.Other/bin/Debug
/X_API_Master/X.Interface.Extend/obj/Debug
/X_API_Master/X.Interface.Extend/bin/Debug
/X_API_Master/X.Interface.Dto/obj/Debug
/X_API_Master/X.UI.Entities/obj/Debug
/X_API_Master/X.UI.Entities/bin/Debug
/X_API_Master/X.UI.Web/obj/Debug
/X_API_Master/X.UI.Web/node_modules
/X_API_Master/X.UI.Web/bin
/X_API_Master/X.UI.Consoles/src
/X_API_Master/X.UI.Helper/obj/Debug
/X_API_Master/X.UI.Helper/bin/Debug
/X_API_Master/X.UnitTest/obj/Debug
/X_API_Master/X.UnitTest/bin/Debug
/X_API_Master/X.Util.Provider/obj/Debug
/X_API_Master/X.Util.Provider/bin/Debug
/X_API_Master/X.Util.Other/obj/Debug
/X_API_Master/X.Util.Other/bin/Debug
/X_API_Master/X.Util.Extend/obj/Debug
/X_API_Master/X.Util.Extend/bin/Debug
/X_API_Master/X.Util.Entities/obj/Debug
/X_API_Master/X.Util.Entities/bin/Debug
/X_API_Master/X.Util.Core/obj/Debug
/X_API_Master/X.Util.Core/bin/Debug
/X_API_Master/X.Win.TaskService/obj/Debug
/X_API_Master/X.Win.TaskService/bin/Debug
/X_API_Master/X.WFConfig/obj/Debug
/X_API_Master/X.WFConfig/bin/Debug
/X_API_Master/X.WebAndLoadTest/obj/Debug
/X_API_Master/X.WebAndLoadTest/bin/Debug
