<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRouter">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRealServerManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_FundManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_CustomerManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_ShareManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_BankManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_CustSecurityManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_BusinAppManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_BusinCfmManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_CashBagSearchManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_CashBagTradeManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_FundTransferBusiness">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_PayChannelManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_SalesApplicabilityManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_CashBagPaymentManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_ShareTransferManager">
          <security mode="None" />
        </binding>
        <binding name="TCP_EP_ComplaintManager">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDateService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ICoreServices">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://222.73.55.27:8002/DateService/" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IDateService" contract="Services.IDateService"
          name="WSHttpBinding_IDateService" />
      <endpoint address="net.tcp://0.0.0.0:8833/Router/Route" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IRouter" contract="Services.IRouter"
          name="NetTcpBinding_IRouter" />
      <endpoint address="net.tcp://0.0.0.0:8833/Router/RealServerManagement"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRealServerManager"
          contract="Services.IRouterManage" name="NetTcpBinding_IRealServerManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/FundManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_FundManager"
          contract="Services.IFundManager" name="TCP_EP_FundManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/CustomerManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_CustomerManager"
          contract="Services.ICustomerManager" name="TCP_EP_CustomerManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/ShareManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_ShareManager"
          contract="Services.IShareManager" name="TCP_EP_ShareManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/BankManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_BankManager"
          contract="Services.IBankManager" name="TCP_EP_BankManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/CustSecurityManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_CustSecurityManager"
          contract="Services.ICustSecurityManager" name="TCP_EP_CustSecurityManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/BusinAppManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_BusinAppManager"
          contract="Services.IBusinAppManager" name="TCP_EP_BusinAppManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/BusinCfmManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_BusinCfmManager"
          contract="Services.IBusinCfmManager" name="TCP_EP_BusinCfmManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/CashBagSearchManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_CashBagSearchManager"
          contract="Services.ICashBagSearchManager" name="TCP_EP_CashBagSearchManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/CashBagTradeManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_CashBagTradeManager"
          contract="Services.ICashBagTradeManager" name="TCP_EP_CashBagTradeManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/FundTransferBusiness"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_FundTransferBusiness"
          contract="Services.IFundTransferBusiness" name="TCP_EP_FundTransferBusiness" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/PayChannelManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_PayChannelManager"
          contract="Services.IPayChannelManager" name="TCP_EP_PayChannelManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/SalesApplicabilityManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_SalesApplicabilityManager"
          contract="Services.ISalesApplicabilityManager" name="TCP_EP_SalesApplicabilityManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/CashBagPaymentManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_CashBagPaymentManager"
          contract="Services.ICashBagPaymentManager" name="TCP_EP_CashBagPaymentManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/ShareTransferManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_ShareTransferManager"
          contract="Services.IShareTransferManager" name="TCP_EP_ShareTransferManager" />
      <endpoint address="net.tcp://172.16.86.56:8818/Tcp/ComplaintManager"
          binding="netTcpBinding" bindingConfiguration="TCP_EP_ComplaintManager"
          contract="Services.IComplaintManager" name="TCP_EP_ComplaintManager" />
      <endpoint address="http://172.16.86.57:8001/AngieOneServices/"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICoreServices" 
          contract="Services.IAngieOneService" name="WSHttpBinding_ICoreServices" />
    </client>
  </system.serviceModel>
</configuration>