.main-box {
    position: absolute;
    left: 20%;
    top: 20%;
}

.main-box .game-status,
.main-box .game-level {
    height: 30px;
    background-color: #cccccc;
    text-align: center;
    padding: 10px 0;
}

.main-box .game-level em{
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: #0000cc;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    color: #b2e2ea;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.main-box .game-status li {
    width: 33%;
    height: 30px;
    text-align: center;
}

.main-box .game-status .game-tip,
.main-box .game-status .game-error,
.main-box .game-status .game-time {
    vert-align: middle;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.main-box .game-status .game-error,
.main-box .game-status .game-time{
    color: #dc0000;
}

.main-box .game-status .game-start {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: #0000cc;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
    color: #b2e2ea;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.main-box .game-box {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.main-box .game-box .box-item,
.main-box .game-box .box-item-open {
    width: 20px;
    height: 20px;
    border-right: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    background-color: #444de6;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.main-box .game-box .box-item-open {
    background-color: #ffffff;
    cursor: default;
}

.main-box .game-box .one{
    color: #b2e2ea;
}

.main-box .game-box .two{
    color: #0000ed;
}

.main-box .game-box .three{
    color: #d73131;
}

.main-box .game-box .four{
    color: #008000;
}

.main-box .game-box .five{
    color: #330000;
}

.main-box .game-box .six{
    color: #ffff00;
}

.main-box .game-box .seven{
    color: #ff7001;
}

.main-box .game-box .eight{
    color: #f600f6;
}

.main-box .game-box .error{
    color: #dc0000;
}