@import url(../../util/table.css);

.main-box {
    font-size: 14px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 50px 20px;
    width: 1000px;
}

.main-box .main-head span {
    display: inline-block;
    width: 30%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-weight: 700;
}

.main-box .main-head em {
    font-weight: 700;
    font-size: 16px;
    color: #DC0000;
}

.main-box .main-head em.red {
    color: #DC0000;
}

.main-box .main-head em.green {
    color: green;
}

.main-box .main-head em.black {
    color: #666666;
}