<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppSettings>
    <!--log4net日志根目录-->
    <add key="Log4NetBaseDirectory" value="" />
    <!--缓存依赖文件根目录-->
    <add key="CacheDependencyBaseDirectory" value="" />
    <!--Key缓存版本号，修改使所有缓存失效-->
    <add key="CacheKeyVersion" value="0.0.1" />
    <!--debug 客户号-->
    <add key="CustomerNo" value="" />
    <add key="CouchCacheEnable" value="false" />
    <add key="RedisCacheEnable" value="false" />
    <add key="MongoDbEnable" value="true" />
    <!--开盘时间-->
    <add key="TradeStart" value="2099-01-01 9:15:00" />
    <!--收盘时间-->
    <add key="TradeEnd" value="2099-01-01 15:00:00" />
    <!--运行模式 0=自动，1=盯盘，2=复盘, 3=自选股查看-->
    <add key ="mode" value="0" />
    <!--盯盘模式 1=中线，2=短线，3=交集,4=并集，0=短线买点-->
    <add key ="DpMode" value="0" />
    <!--盯盘过滤器 1=只看龙头，2=只看趋势,3=不过滤-->
    <add key ="filter" value="3" />
    <!--9/15/24/39-->
    <add key ="topCount" value="15" />
    <add key ="isBig" value="true" />
    <add key ="bigAmount" value="0" />
  </AppSettings>
</configuration>